/*documento css*/

* { margin: 0; } 

.cabecera { width: 100%;
            background-color: #f188d0; 
            padding: 16px 0px;
            text-align: center; 
            font-size: 19px;}

.bi-emoji-smile { font-size: 6em;
                  text-align: center;
                  display: block;
                  color: #ea10a5;
                  margin: auto; }

.pie span { width: 100%;
            height: 98px;
            text-align: center;
            background-color: #e75bad;
            font-size: 16px; }

.flotador { background-image: url(../img/finanzas1.jpg);
            background-position: bottom left ;
            width: 100%;
            height: 240px;}

.plenitud { float: left;}
     
